*{
    font-family: 'Open Sans', sans-serif;
}
ul,li, 
menu{
    list-style: none;
}
img{
    max-width: 100%;
}
.logo{
    width: 50px;
}
.fa-solid{
    width: 20px;
}
.container-header{
    margin:0px 10px;

}
.input-header{
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(229, 229, 229);
    padding-left: 40px;
}
#app{
    height: 100vh;
    width: 100%;
    display: flex;
}
.w-150{
    padding:20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: url(./img/sidebar-bg.png);
    width: 150px;
    color: white;
    background-color: rgb(5, 30, 52);
}
.w-150 i {
    margin-top: 20px;
    margin-right: 8px;
}
.section-glass{
position: relative;
}
.glass{

    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}
.section-plane{
    color: white;
    width: 100%;
    height: 100px;
    background-color: rgb(27, 114, 232);
}
.b-piani {
    padding: 5px 15px;
    font-size: 13px;
    border-radius: 9999px;
    background-color: rgb(22, 91, 186);
}

